<div class="card col-md-10 offset-1 mt-4">
    <div class="card-body ">
        <p>Titulo: </p><h1>{{postagems.titulo}}</h1>
        <hr>

        <small>Data de publicação: {{postagems.titulo}}</small>
        <hr>
        <p>Descrição: {{postagems.descricao}}</p>
        <p>Conteudo:  {{postagems.conteudo}}</p>
        <p>categoria:  {{categorias.nome}}</p>
        <hr>

    </div>
