
<h3 class="post2">Postagens</h3>
    <a href="/admin/postagens/add"><button class="btn btn-primary offset-4 col-md-4 mt-2"> Adicionar Postagens </button></a>


{{#each postagens}}


<div class="card col-md-10 offset-1 mt-4">
    <div class="card-body ">

        <div class="post">
            <h3>{{titulo}}</h3>
            <h2>{{slug}}</h2>
            <h2>{{descricao}}</h2>
            <h2>{{conteudo}}</h2>
        </div>

        <a href="/admin/postagens/adit/{{_id}}" ><button class="btn btn-primary" > Editar </button></a>
        <br><br>
        <form action="/admin/postagens/del/{{_id}}" method="post">
        <input type="hidden" name="id" value="{{_id}}">
        <button class="btn btn-danger" type="submit"> Deletar </button>
        </form>
    </div>
    

</div>  
{{else}}
    <div class="alert alert-danger"> deu erro </div>

{{/each}}

